
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task Management</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>
                    <h1 style="font-size:26px;">Task Management</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style:none;">
                        <li style="float:left; width:200px;  color:black;"><a href="/UserManagement/Index">UsersManagement</a></li>
                        <li style="float:left; width:200px; text-decoration:none; color:black;"><a href="/TaskManagement/Index">Tasksmanagement</a></li>
                        @if (FirstAssignmentWeb.Models.AuthenticationManager.LoggedUser == null)
                        {
                             <li style="float:left; width:200px;  color:black;"><a href="/Home/Login">Login </a></li>

                        }
                        else
                        {
                            <li style="float:left; width:200px;  color:black;"><a href="/Home/Logout">Logout</a></li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Welcome to our Task management web application.</p>
                    <p>You can navigate to the different sections of the web application using the menu above</p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
